body  {
	height:540px;
	width: 340px;
	color:white;
	background-color:#272728;  

}

#intro img {
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
	margin-left: 20px;
	margin-right:20px;
	margin-bottom:10px;
}

#intro form {
	height:34px;
}

#show {}

#badges {}
